In [1]:
import pandas as pd
import pandas_profiling as pf

In [4]:
df = pd.read_csv(r'G:\Revature Training\Projects\Project_1\athlete_events_data.csv',index_col='ID')
df.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24,180,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Mens Basketball,NaN
2,A Lamusi,M,23,170,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Mens Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24,0,0.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Mens Football,NaN
4,Edgar Lindenau Aabye,M,34,0,0.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Mens Tug-Of-War,Gold
5,Christine Jacoba Aaftink,F,21,185,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Womens 500 metres,NaN

In [5]:
record = pf.ProfileReport(df)

In [ ]:
record.to_file("olympic_report.html")

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=28.0), HTML(value='')))